pipeline/Claims - Cognitive Master.json
{
	"name": "Claims - Cognitive Master",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata of ADLS Live folder",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ADLSLiveFileSink",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "CountItems",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata of ADLS Live folder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@bool(length(activity('Get Metadata1').output.childItems))",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Pass",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "CognitiveFlow",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitOnCompletion": true
							}
						}
					]
				}
			}
		],
		"concurrency": 1,
		"folder": {
			"name": "Master"
		},
		"annotations": []
	}
}